<style type="text/css">
    body {
        background-image: url('https://s3-ap-southeast-1.amazonaws.com/imosti/production/assets/BG-21ae14f92386e62f96e6f1b04fe4ad74.png');
        background-attachment:fixed
    }
</style>
<div class="site-main" id="sTop">
    <div class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="social-icons">
                        <li><a rel="nofollow" href="https://www.facebook.com/pages/IMOSTI/138251589519919" class="fa fa-facebook" target="_blank"></a></li>
                        <li><a href="https://twitter.com/IMOSTIInc" class="fa fa-twitter" target="_blank"></a></li>
                        <li><a href="http://www.linkedin.com/company/imosti---international-maritime-&-offshore-training-institute-inc" class="fa fa-linkedin" target="_blank"></a></li>
                    </ul>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
        <div class="main-header">
            <div class="container">
                <div id="menu-wrapper">
                    <div class="row">
                        <div class="col-md-12 col-sm-10 col-xs-4 main-menu text-center">
                            <ul class="menu-first hidden-sm hidden-xs">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#aboutus">About Us</a></li>
                                <li><a href="#portfolio">Facilities</a></li>
                                <li><a href="#our-team">Courses</a></li>
                                <li><a href="#students">students</a></li>
                                <li><a href="#whatsnew">What's New</a></li>
                                <li><a href="#store">Consumables</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                            <a href="#" class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></a>
                        </div> <!-- /.main-menu -->
                    </div> <!-- /.row -->
                </div> <!-- /#menu-wrapper -->
                <div class="menu-responsive hidden-md hidden-lg">
                    <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#our-team">Team</a></li>
                        <li><a href="#students">students</a></li>
                        <li><a href="#whatsnew">What's New</a></li>
                        <li><a href="#store">Consumables</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div> <!-- /.menu-responsive -->
            </div> <!-- /.container -->
        </div> <!-- /.main-header -->
    </div> <!-- /.site-header -->
    <div class="site-slider">
        <div class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <%=render 'slider'%>

                </ul>
            </div> <!-- /.flexslider -->
        </div> <!-- /.slider -->
    </div> <!-- /.site-slider -->
</div> <!-- /.site-main -->



<div class="content-section" id="aboutus">
    <div class="container">
        <div class="row">
            <div class="heading-section col-md-12 text-center">
                <h2>About Us</h2>
                <p><i>"WHY IMOSTI STANDS OUT AMONGST MANY OTHER TRAINING CENTRES IN THE PHILIPPINES?
LET ME COUNT THE WAYS"</br>
- CAPT. JASMINE LABARDA</i></p>
          </div> <!-- /.heading-section -->
        </div> <!-- /.row -->
        <div class="row">
            <div class="team-member col-md-3 col-sm-6">
                <div class="member-thumb">
                    <img src="<%=asset_path('member1.jpg')%>" alt="" class="img-circle">
                    <div class="team-overlay">
                        <h3>1. Commitment</h3>
                        <span>Guided by the principles of the mission and vision in IMOSTI, they <br> walk the talk.</span>

                    </div> <!-- /.team-overlay -->
                </div> <!-- /.member-thumb -->
            </div> <!-- /.team-member -->
            <div class="team-member col-md-3 col-sm-6">
                <div class="member-thumb">
                    <img src="<%=asset_path('member2.jpg')%>" alt="" class="img-circle">
                    <div class="team-overlay">
                        <h3>2. Concern</h3>
                        <span>Making the employees, trainees and clients feel that they are valued is a characteristic unparalleled and comes as second nature in <br> IMOSTI.

</span>

                    </div> <!-- /.team-overlay -->
                </div> <!-- /.member-thumb -->
            </div> <!-- /.team-member -->
            <div class="team-member col-md-3 col-sm-6">
                <div class="member-thumb">
                    <img src="<%=asset_path('member3.jpg')%>" alt="" class="img-circle">
                    <div class="team-overlay">
                        <h3>3. Good business. </h3>
                        <span>IMOSTI balances profitability and sustainability. In every success of IMOSTI, stakeholders and shareholders succeed <br> as well.</span>

                    </div> <!-- /.team-overlay -->
                </div> <!-- /.member-thumb -->
            </div> <!-- /.team-member -->
            <div class="team-member col-md-3 col-sm-6">
                <div class="member-thumb">
                    <img src="<%=asset_path('member4.jpg')%>" alt="" class="img-circle">
                    <div class="team-overlay">
                        <h3>4. Quality</h3>
                        <span>IMOSTI is dedicated in providing quality service and training to the maritime and offshore industry.</span>

                    </div> <!-- /.team-overlay -->
                </div> <!-- /.member-thumb -->
            </div> <!-- /.team-member -->
        </div> <!-- /.row -->


        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-md-6">
            <div class="pp" align="center">


                 "The International Maritime & Offshore Safety Training Institute (IMOSTI), Inc. is a centre for learning and competence development dedicated to administering training services for marine & offshore sectors. Operating in compliance with the premier quality standards & regulations of industry based organisations."
             </div>
             </div>

        <div class="col-md-6">
IMOSTI, Inc. has become and continues to be one of the most valued partner of the maritime & offshore petroleum industry in providing training and education for its human resources in order to maximize their ability to contribute positvely to business success while endowing them with characteristics essential to the improvement of quality of life and preservation of the environment. We continue to grow and adopt with the unceasing innovations in the offshore industry. We have gained revered and prominent players in the offshore industry during the course of our operation, a manifestation that we, at IMOSTI, value the delivery of effective training to all our trainees. With a dedicated human resources & management, the long tradition of training superiority & pioneering attitude in training education in IMOSTI will set its sail to be the most recognized partner of the maritime & offshore petroleum industry.
  </div>


        </div> <!-- /.row -->

        <br>
        <br>


        <div class="row">
            <div class="col-md-12 text-center" align="justify">
                <div class="skills-heading">
                    <h3 class="skills-title">Our History</h3>
                </div>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->

        <div class="row" align="justify">
        <div class="container">

                 IMOSTI was incorporated last December 20, 2006 and became operational in 2007 with the primary intention of providing training services for personnel in maritime & offshore petroleum industries.In June 2007, IMOSTI was audited by Capt. Mark Pointon and Steven Jones of Nautical Institute and was declared as an official DPO training provider. Dynamic Positioning Courses such as DP Basic and DP Advance course are both offered by our training center since then. As of 2nd quarter of 2013, we have a total no. of 1,483 students for our DP courses.<br><br>

In the same month, IMOSTI participated in OPITO meeting in Kuala Lumpur, Malaysia with the intention of seeking OPITO's approval for offshore safety courses. In August 2008, IMOSTI was audited by Mr. Peter Lammiman and officially launched its OPITO Approved offshore safety courses. IMOSTI in 2012 had introduced after successfully completing the OPITO accreditation audit the Offshore Emergency Helicopter Team Member (OEHTM) training program or now being called HDA-HERTM intended for personnel performing safety watchkeeping on offshore oil & gas helideck. Another milestone for IMOSTI in 2012 is the re-accreditation audit by the Nautical Institute for the Dynamic Position Operator course under the new standards.  Gracing the audit in behalf of the NI is Regina Bindao, Accreditation Manager for the NI and auditors Capt. Steve Mathews and Capt. John Latto. The changes in standards, though very challenging, was rightfully executed by IMOSTI to ensure DPO competence.<br><br>

More than six years since its incorporation, IMOSTI, Inc. continues to ascertain its competence in training and education of personnel performing functions in the offshore oil & gas sector. Now a major player in providing offshore oil & gas training program within the Asia-Pacific region. IMOSTI has been in the forefront of ensuring the execution and delivery of offshore oil and gas training standards.  With an increasing market base, IMOSTI will further embark to provide training programs that are not only focused on safety consciousness but as well as offshore oil & gas skills development.

        </div>
        </div>

        <br>
        <br>
        <br>
        <br>
<div class="jumbotron">
            <div class="col-md-6 col-sm-6">
              <div class="h11" align="center">Our Mission</div>
            <div align="justify">

            <div class="ppp" align="center"><p>At IMOSTI, Inc. we develop and
            <br>deliver training programs that:</p></div>

            <div class="ppp" align="center"><ul>
              <li>- Enhances human skills and competence.</li>
                <li>- Foster social, moral and intellectual development.</li>
                <li>- Encourages to think skillfully and critically.</li>
                <li>- Promote and preserve the industry. </li>
            </ul>
            </div>
                </div>
            </div>


            <div class="col-md-6 col-sm-6">
            <div class="h11" align="center">Our Vision</div>
            <div align="justify">
            <div class="ppp" align="center"><br>
            The institution has become one of the most valued partners<br> of the maritime & offshore petroleum industry in providing training and education for its human resources in order to maximize their ability to contribute positively to business success while endowing them<br> with characteristic essential to the improvement of quality of life<br> and preservation of environment.
  </div>
            </div>
  </div>
         </div><!--Jumbotron-->



    </div> <!-- /.container -->
</div> <!-- /#portfolio -->


<div class="content-section" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="heading-section col-md-12 text-center">
                <h2>Facilities</h2>
                <p>Take a look at some pictures of our Facilities</p>
            </div> <!-- /.heading-section -->
        </div> <!-- /.row -->


        <div class="row">
            <%=render 'gallery'%>


        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /#portfolio -->




<div class="content-section" id="our-team">
    <div class="container">
        <div class="row">
            <div class="heading-section col-md-12 text-center">
                <h2>Courses Offered</h2>
                <p>Click on the download button below
                <br>and we will provide you with a
                <br>downloadable E-Brochure
                <br>For complete information
                </p>
            </div> <!-- /.heading-section -->
        </div> <!-- /.row -->
        <div class="row">
            <div class="team-member col-md-3 col-sm-6">
                <div class="member-thumb">
                    <img src="<%=asset_path('member5.jpg')%>" alt="" class="img-circle">
                    <div class="team-overlay">
                        <h3>Dynamic Positioning</h3>
                        <span>DP Basic Induction</span>
                        <span>DP Advanced Simulator</span>

                        </ul>
                    </div> <!-- /.team-overlay -->
                </div> <!-- /.member-thumb -->
            </div> <!-- /.team-member -->
            <div class="team-member col-md-3 col-sm-6">
                <div class="member-thumb">
                    <img src="<%=asset_path('member6.jpg')%>" alt="" class="img-circle">
                    <div class="team-overlay">
                        <h3>Safety Courses</h3>
                        <span>BOSIET, T-BOSIET
                        <br>
                          FOET, T-FOET
                            <br>HUET with EBS
                            <br>Basic North Sea
                            <br>Basic North Sea Refresher
                            <br>HDA HERTM
                            </span>


                        </ul>
                    </div> <!-- /.team-overlay -->
                </div> <!-- /.member-thumb -->
            </div> <!-- /.team-member -->
            <div class="team-member col-md-3 col-sm-6">
                <div class="member-thumb">
                    <img src="<%=asset_path('member7.jpg')%>" alt="" class="img-circle">
                    <div class="team-overlay">
                        <h3>Skill Development</h3>
                        <span>Steel Maintenance</span>

                        </ul>
                    </div> <!-- /.team-overlay -->
                </div> <!-- /.member-thumb -->
            </div> <!-- /.team-member -->
            <div class="team-member col-md-3 col-sm-6">
                <div class="member-thumb">
                    <img src="<%=asset_path('member8.jpg')%>" alt="" class="img-circle">
                    <div class="team-overlay">
                        <h3>Maritime Course</h3>
                        <span>Hydrogen Sulfide Familiarization</span>



                        </ul>
                    </div> <!-- /.team-overlay -->
                </div> <!-- /.member-thumb -->
            </div> <!-- /.team-member -->
        </div> <!-- /.row -->

        <div class="row">
            <p align="center">
            <br>

            </div>

            <div class="row">
            <p align="center">
            <a href="https://s3-ap-southeast-1.amazonaws.com/imosti/IMOSTI+e-brochure+1.pdf" target="_blank">
            <input type="button" class="mainBtnn" value="Download E-Brochure">
            </a></p>
            </div>

    </div> <!-- /.container -->
</div> <!-- /#our-team -->



<div class="content-section" id="students">
    <div class="container">
        <div class="row">
            <div class="heading-section col-md-12 text-center">
                <h2>Students</h2>
                <p>Find out who passed their training</p>
            </div> <!-- /.heading-section -->
          </div>

            <div class="row">
            <p align="center">

            </div>

            <div class="row">
            <p align="center">
            <a href="/who_passed" target="_blank">
            <input type="button" class="mainBtnn" value="See who Passed">
            </a></p>
            </div>




<div class="content-section" id="whatsnew">
        <div class="row">
            <div class="heading-section col-md-12 text-center">
                <h2>What's New</h2>
                <p>See our latest Updates</p>
            </div> <!-- /.heading-section -->
          </div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
<%=render 'news_indicator'%>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">

<%=render 'whats_new'%>



</div>

<!-- Controls -->
<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left fa fa-chevron-left"></span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right fa fa-chevron-right"></span>
</a>
</div>



<div class="content-section" id="store">
        <div class="row">
            <div class="heading-section col-md-12 text-center">
                <h2>Consumables</h2>
                <p>Take us with you wherever you go</p>
          </div> <!-- /.heading-section -->
    </div>

        <div class="row">

            <%=render 'consumables'%>





</div>









<div class="content-section" id="contact">
    <div class="container">
        <div class="row">
            <div class="heading-section col-md-12 text-center">
                <h2>Contact Us</h2>
                <p>CONTACT NUMBERS, HOTEL BOOKINGS AND WHAT ELSE YOU CAN DO IN MANILA</p>
            </div> <!-- /.heading-section -->
        </div> <!-- /.row -->

        <div class="row">

                   <div class="googlemap-wrapper">
                    <div id="map_canvas" class="map-canvas"></div>
                </div> <!-- /.googlemap-wrapper -->

        </div> <!-- /.row -->

                <div class="row">
                    <div class="col-md-3 col-sm-6">

                        <ul class="contact-info">
                          <li><b>IMOSTI, Incorporated</b></li>
                            <br>
                            <li>Phone Numbers:
                            <br>
                              02 893-2790
                              <br> 02 894-3674
                              <br> 02 894-3669/
                              <br>02 894-3205 </li>

                            <br>

                           <li>Telefax: </li>

                          (+63 2) 524 7983
                          <br>
                            <br>
                            <li>Email us at:
                           <br> <a href="mailto:ida.alido@imosti.com">ida.alido@imosti.com</a><br>
                            <a href="mailto:bonnie.padua@imosti.com">bonnie.padua@imosti.com</a><br>
                            <a href="mailto:april.alquero@imosti.com">april.alquero@imosti.com</a><br>
                            <a href="mailto:heidi.tulod@imosti.com">heidi.tulod@imosti.com</a></li>
                            <br>
                            <li>Address:</li>
                              Unit 1008, 10th Floor, Aseana Two
                              <br>
                              Building, Bradco Avenue, Aseana
                              <br> City, Barangay Baclaran Parañaque City
                              <br> (1702), Philippines



                        </ul>
                        <!-- spacing for mobile viewing --><br><br>
                    </div> <!-- /.col-md-7 -->

                    <div class="col-md-3 col-sm-6">

                        <ul class="contact-info">
                          <li><b>IMOSTI Offshore Facility</b></li>
                            <br>
                            <li>Phone Numbers:
                            <br>
                             (02) 781 6273 <br>
                    (046) 412 2442 </li>
                            <br>
                            <li>Email us at:
                            <br> <a href="mailto:sales@imosti.com">sales@imosti.com</a></li>
                            <br>
                            <li>Adress:</li>
                            Cena St., Brgy. Labac, Naic, Cavite


                        </ul>
                        <!-- spacing for mobile viewing --><br><br>
                    </div> <!-- /.col-md-7 -->
                    <br>






                </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /#contact -->

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12 text-left">
              Empowerment, Partnership, Innovation and Commitment. Our <b>EPIC</b> way of working.
                <br>
                Copyright © 2014 International Maritime & Offshore Safety Training Institute
                <br>
                Redesigned by  <a href="#"><b>Robi Ferias</b>  0917-637-8298</a>
            </div> <!-- /.text-center -->
            <div class="col-md-4 hidden-xs text-right">
                <a href="#top" id="go-top">Back to top</a>
            </div> <!-- /.text-center -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /#footer -->

<br>

        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="http://cdn.jsdelivr.net/gmap3/6.0.0/gmap3.min.js"></script>

        <!-- Google Map Init-->
        <script type="text/javascript">
            jQuery(function($){
                $('#map_canvas').gmap3({
                    marker:{
                        address: '14.529161, 120.991831'
                    },
                        map:{
                        options:{
                        zoom: 15,
                        scrollwheel: false,
                        streetViewControl : true
                        }
                    }
                });
            });
        </script>
